body {
    font-family: Roboto;
    margin: 0;
    min-height: 100vh;
  }


.header {
    background-color: #1f2937;
    /* display: flex; */
    
}

.logo {
    size: 24px;
    color: #f9faf8;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    
}
.right,.left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-text,.right-links {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: rebeccapurple;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

/* .container-h2 { */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

/* 9am today feb15 see below */


img {
    width: 200px;
    height: 200px;
    border-radius: 1rem;

}

/* body and sections inside it are below */

.s1-title {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

.s1-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    flex-wrap: wrap;
}


.info {
    max-width: 200px;
    border: .25em solid #3882f6;
    border-radius: 1rem;
}
/* I worked on this all right now 9am */



.s2{
    background-color: #e5e7eb;
    display: flex;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    
}

.thor {
    text-align: end;
    font-weight: bold;
    font-style: italic;
}

/* Section 3 below */

.s3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    max-width: 480px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
} 
/* the c3-container needs work.  */

.sign-up,.header-button {
    background-color: #3882f6;
    color: white;
    height: 16px;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
  }